.#{$app-name} {
	&-input-group {
		display: inline-flex;
		position: relative;
		background-color: $background-color-base;
		border-radius: $input-border-radius;
		/* 图标 */
		& .#{$app-name}-input-icon {
			padding-right: $input-padding-x;
			cursor: default;
		}
		&-sm {
			border-radius: $input-border-radius-sm;
			& > * {
				padding: $input-padding-y-sm $input-padding-x-sm !important;
				font-size: $input-font-size-sm !important;
				line-height: $line-height-sm !important;
			}
			& .#{$app-name}-input-icon {
				padding-right: $input-padding-x-sm;
			}
		}
		&-lg {
			border-radius: $input-border-radius-lg;
			& > * {
				padding: $input-padding-y-lg $input-padding-x-lg !important;
				font-size: $input-font-size-lg !important;
				line-height: $line-height-lg !important;
			}
			& .#{$app-name}-input-icon {
				padding-right: $input-padding-x-lg;
			}
		}
		/* 禁用&只读 */
		&:disabled,
		&.disabled,
		&.readonly {
			user-select: none;
			pointer-events: none;
		}
		&:disabled *,
		&.disabled * {
			background-color: $input-disabled-bg !important;
			border-color: $input-disabled-border-color !important;
			color: $input-disabled-color !important;
		}
		/* 圆角 */
		& :first-child {
			border-top-left-radius: $input-border-radius;
			border-bottom-left-radius: $input-border-radius;
		}
		& :last-child {
			border-top-right-radius: $input-border-radius;
			border-bottom-right-radius: $input-border-radius;
		}
	}
	/* input的包装div */
	&-input-wrapper {
		border: $input-border-width solid $input-border-color;
		padding: $input-padding-y $input-padding-x;
		line-height: $line-height-mid;
		font-size: $input-font-size;
		font-family: $input-font-family;
		&:focus,
		&:hover {
			border-color: $primary;
			box-shadow: $input-box-shadow;
		}
		& > input {
			&::placeholder {
				color: $input-placeholder-color;
			}
			& {
				border-width: 0;
			}
		}
	}
	/* input的前后缀 */
	&-input-prepend,
	&-input-append {
		border: $input-border-width solid $input-group-addon-border-color;
		background-color: $input-group-addon-bg;
		color: $input-group-addon-color;
		padding: $input-padding-y $input-padding-x;
		font-size: $input-font-size;
		font-family: $input-font-family;
		line-height: $line-height-mid;
		vertical-align: middle;
		text-align: center;
		user-select: none;
		white-space: nowrap;
	}
	&-input-shadow {
		background-color: $primary;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
}
