@mixin getParent($parent) {
	@content;
}
.#{$app-name} {
	&-btn-wrapper {
		position: relative;
		display: inline-flex;
	}
	&-btn {
		font-size: $btn-font-size;
		font-family: $btn-font-family;
		color: $color-base;
		line-height: $btn-line-height;
		border: $btn-border-width solid $border-color;
		background-color: $background-color-base;
		padding: $btn-padding-y $btn-padding-x;
		border-radius: $btn-border-radius;
		box-shadow: $btn-box-shadow;
		z-index: 0;
		&:hover {
			color: $primary;
			border-color: $primary;
		}
		&.circle {
			border-radius: 50% !important;
			padding: $btn-padding-y !important;
		}
		&-primary {
			color: $white;
			background-color: $primary;
			border-color: transparent;
			&:hover {
				color: $white;
				border-color: transparent;
				opacity: $btn-hover-opacity;
			}
		}

		&-danger {
			color: $danger;
			border-color: $danger;
			background-color: $white;
			&:hover {
				border-color: $danger;
				color: $danger;
				opacity: $btn-hover-opacity;
			}
			& + .#{$app-name}-btn-shadow {
				background-color: lighten($danger, 25%);
			}
		}
		//danger&primary
		&-danger.#{$prefix}-btn-primary {
			color: $white !important;
			background-color: $danger !important;
			border-color: transparent;
			&:hover {
				border-color: transparent;
				opacity: $btn-hover-opacity;
			}
		}
		//danger&link
		&-danger.#{$prefix}-btn-link {
			color: $danger;
			&:hover {
				border-color: transparent !important;
			}
		}
		&-lg {
			font-size: $font-size-lg;
			padding: $btn-padding-y-lg $btn-padding-x-lg;
			border-radius: $btn-border-radius-lg;
			&.circle {
				padding: $btn-padding-y-lg !important;
			}
		}
		&-sm {
			font-size: $font-size-sm;
			padding: $btn-padding-y-sm $btn-padding-x-sm;
			border-radius: $btn-border-radius-sm;
			&.circle {
				padding: $btn-padding-y-sm !important;
			}
		}
		&:disabled,
		&.disabled {
			opacity: $btn-disabled-opacity;
			user-select: none;
			pointer-events: none;
			background-color: $gray-300 !important;
			color: $gray-800 !important;
			border-color: transparent !important;
		}
		&-link {
			color: $primary;
			border-color: transparent !important;
			box-shadow: none !important;
			&:hover {
				border-color: transparent !important;
			}
			&:disabled,
			&.disabled {
				background-color: transparent !important;
				color: $gray-800 !important;
				border-color: transparent !important;
			}
		}
		&-shadow {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: lighten($primary, 25%);
			z-index: -10;
			border-radius: $btn-border-radius;
		}
	}
}
