.#{$app-name} {
	&-menu {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		font-size: $font-size-base;
		box-shadow: $menu-box-shadow;
	}
	&-menu-horizontal {
		flex-direction: row;
		& .#{$app-name}-menu-item {
			margin: 0 $menu-item-margin;
			&-active,
			&:hover {
				border-bottom-color: $primary;
			}
			&-active {
				color: $primary;
			}
			&:hover {
				background-color: lighten($primary, 42%);
			}
		}
		& .#{$app-name}-submenu {
			& .#{$app-name}-submenu-title {
				&:hover {
					background-color: lighten($primary, 42%);
				}
			}
			& .#{$app-name}-submenu-content {
				position: absolute;
				left: 0;
				top: 100%;
				padding: 12px;
				list-style: none;
				box-shadow: $submenu-box-shadow;
				& > li {
					text-align: center;
				}
			}
		}
	}
	&-menu-vertical {
		flex-direction: column;
		& .#{$app-name}-menu-item {
			&-active,
			&:hover {
				border-left-color: $primary;
			}
			&-active {
				color: $primary;
			}
			&:hover {
				background-color: lighten($primary, 42%);
			}
		}
		& .#{$app-name}-submenu {
			& .#{$app-name}-submenu-title {
				&:hover {
					background-color: lighten($primary, 42%);
				}
			}
			& .#{$app-name}-submenu-content {
				list-style: none;
			}
		}
	}
	&-menu-item,
	&-submenu-title {
		padding: $menu-item-padding-y $menu-item-padding-x;
		border-left: $menu-item-border-width solid transparent;
		border-bottom: $menu-item-border-width solid transparent;
		cursor: pointer;
		word-break: keep-all;
	}
	&-submenu {
		position: relative;
		&-active {
			.#{$app-name}-submenu-title {
				color: $primary !important;
			}
		}
		&-content-closed {
			display: none;
		}
	}
}
