.#{$app-name} {
	&-menu {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		font-size: $font-size-base;
		box-shadow: $menu-box-shadow;
	}
	&-menu-horizontal {
		flex-direction: row;
		& .#{$app-name}-menu-item {
			margin: 0 $menu-item-margin;
			&-active,
			&:hover {
				border-bottom-color: $primary;
			}
			&-active {
				color: $primary;
			}
			&:hover {
				background-color: lighten($primary, 42%);
			}
		}
		& .#{$app-name}-submenu {
			& .#{$app-name}-submenu-title {
				&:hover {
					background-color: lighten($primary, 42%);
				}
			}
			& .#{$app-name}-submenu-content {
				position: absolute;
				left: 0;
				top: 100%;
				padding: 12px;
				margin-top: 12px;
				list-style: none;
				z-index: 9;
				background-color: $background-color-base;
				box-shadow: $submenu-box-shadow;
				& > li {
					text-align: center;
				}
			}
		}
	}
	&-menu-vertical {
		flex-direction: column;
		& .#{$app-name}-menu-item {
			&-active,
			&:hover {
				border-left-color: $primary;
			}
			&-active {
				color: $primary;
			}
			&:hover {
				background-color: lighten($primary, 42%);
			}
		}
		& .#{$app-name}-submenu {
			& .#{$app-name}-submenu-title {
				&-toggler {
					transition: none;
				}
				&:hover {
					background-color: lighten($primary, 42%);
				}
			}
			& .#{$app-name}-submenu-content {
				list-style: none;
			}
		}
	}
	&-menu-item,
	&-submenu-title {
		border-radius: $menu-item-border-radius;
		padding: $menu-item-padding-y $menu-item-padding-x;
		border-left: $menu-item-border-width solid transparent;
		border-bottom: $menu-item-border-width solid transparent;
		cursor: pointer;
		word-break: keep-all;
	}
	&-menu-item {
		&.disabled,
		&:disabled {
			opacity: 0.65;
			user-select: none;
			pointer-events: none;
			background-color: #dee2e6 !important;
			color: #343a40 !important;
		}
	}
	&-submenu-title {
		&-toggler {
			transition: transform 0.3s;
			transform-origin: center;
			padding: 0 1rem;
			&.reverse {
				transform: rotate(180deg);
			}
		}
	}
	&-submenu {
		position: relative;
		&-active {
			.#{$app-name}-submenu-title {
				color: $primary !important;
			}
		}
	}
}
