@mixin zoom-in($direction, $origin) {
	.zoom-in-#{$direction} {
		&-enter {
			//display: block;
			opacity: 0;
			transform: scaleY(0);
		}
		&-enter-active {
			transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
				opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
			transform-origin: $origin;
			//display: block;
			opacity: 1;
			transform: scaleY(1);
		}
		&-enter-done {
			//display: block;
			opacity: 1;
			transform: scaleY(1);
		}
		&-exit {
			transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
				opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
			transform-origin: $origin;
			//display: block;
			opacity: 1;
			transform: scaleY(1);
		}
		&-exit-active {
			//display: block;
			opacity: 0;
			transform: scaleY(0);
		}
		&-exit-done {
			display: none;
		}
	}
}

@include zoom-in(top, left top);
@include zoom-in(bottom, center bottom);
@include zoom-in(left, center left);
@include zoom-in(right, center right);
