$header-padding: 0.5 * $font-size-base !default;
$content-padding: $font-size-base !default;
div.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	& > div.header {
		@extend %heading;
		padding: $header-padding;
	}
	& > div.content {
		padding: $content-padding;
		flex: 1;
		overflow: auto;
	}
}
