$upload: "upload";
$dragger: "dragger";
.#{$app-name} {
	&-#{$upload} {
		&-trigger {
			display: block;
			cursor: pointer;
			&:hover {
				box-shadow: $box-shadow-default;
			}
			&-drag {
				display: block;
			}
		}
		&-files {
			list-style: none;
			padding-left: 0;
			padding-top: $popover-margin;
		}
		&-file {
			position: relative;
			border-left: 4px solid $primary;
			line-height: 1.5;
			margin-top: 2px;
			padding-left: 1rem;
			box-shadow: 0 0 6px 0 #e0e0e0;
			background-color: $white;
			& .close-icon {
				position: absolute;
				top: 50%;
				right: 1rem;
				transform: translate(-50%, -50%);
			}
			&-percentage {
				padding-right: 3rem;
			}
			&:hover {
				background-color: lighten($secondary, 5%);
			}
			&.uploading {
				border-color: transparent;
			}
			&.success {
				border-color: $success;
				line-height: 3;
				& .success-icon {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translate(-50%, -50%);
					cursor: default;
				}
			}
			&.error {
				line-height: 3;
				border-color: $danger;
				& .error-icon {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translate(-50%, -50%);
					cursor: default;
				}
			}
		}
	}
}

.#{$app-name} {
	&-#{$dragger} {
		min-height: 200px;
		border: 2px dashed $border-color;
		text-align: center;
		padding: 24px;
		&.drag-over {
			background-color: lighten($primary, $hover-background-color-amount);
			border-color: $primary;
			color: $primary;
		}
		& .upload-icon {
			font-size: 5rem;
			padding: 12px;
		}
	}
}
